<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-lottie [options]="lottieOptions" [style]="{display: 'block', width: '150px', height: '150px', margin: '0 auto 12px'}"></ng-lottie>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Usuario:</strong> {{ username }}</p>
      <p><strong>Contraseña:</strong> {{ password }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
