<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Usamos *ngFor para iterar sobre el array de categorías -->
    <ion-item *ngFor="let categoria of categorias" [routerLink]="['/productos-por-categoria', categoria.id]" button detail>
      <ion-label>{{ categoria.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>