<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="intel-i5" class="img-card" src="assets/images/procesador-cat.webp" />
      <ion-button class="text-title" expand="block" fill="clear" routerLink="/procesadores">Procesadores</ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img alt="intel-i5" class="img-card" src="assets/images/placamadre-cat.jpg" />
      <ion-button class="text-title" expand="block" fill="clear" routerLink="/placasmadre">Placas Madre</ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
