.overlay {
    position:fixed;
    inset:0;
    background: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(1px);
}

.spinner{
    width:75px;
    height: 75px;
    border-radius: 50%;
    border: 8px solid #d4aa1f;
    border-top-color: #fff1c2;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}