<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>Procesadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img alt="intel-i5" class="img-card" src="assets/images/inteli5.jpeg" />
      <ion-card-title>Intel I5-12400F</ion-card-title>
      <ion-card-subtitle class="text-oferta">Precio oferta: $169.990</ion-card-subtitle>
      <ion-card-subtitle class="text-referencia">Precio referencia: $189.990</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Procesador Intel Core i5-12400F de 12ª generación con 6 núcleos y 12 hilos, frecuencia base de 2.5 GHz y turbo de hasta 4.4 GHz, caché de 18 MB, socket LGA 1700, sin gráficos integrados.
    </ion-card-content>
    <ion-footer class="ion-padding-bottom">
      <ion-button expand="block" fill="solid" class="ion-margin btn-carrito" routerLink="/carrito">Añadir al carrito</ion-button>
    </ion-footer>
  </ion-card>

    <ion-card>
    <ion-card-header>
      <img alt="amd-r7" class="img-card" src="assets/images/amdr7.jpg" />
      <ion-card-title>AMD Ryzen 7</ion-card-title>
      <ion-card-subtitle class="text-oferta">Precio: $149.990</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Procesador AMD Ryzen 7 de última generación con 8 núcleos y 16 hilos, frecuencia base de 3.6 GHz y turbo de hasta 4.9 GHz, caché de 32 MB, socket AM4, con gráficos integrados Radeon.
    </ion-card-content>
    <ion-footer class="ion-padding-bottom">
      <ion-button expand="block" fill="solid" class="ion-margin btn-carrito" routerLink="/carrito">Añadir al carrito</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
