<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="items.length === 0; else cartItems" class="empty-cart">
    <ion-card-title>Tu carrito está vacío</ion-card-title>
  </div>

  <ng-template #cartItems>
    <ion-list>
      <ion-item *ngFor="let item of items" lines="full" class="ion-align-items-center">
        <ion-thumbnail slot="start">
          <ion-img [src]="item.producto.imagen_url || 'assets/placeholder.png'"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.producto.nombre }}</h2>
          <p>{{ item.producto.precio * item.cantidad | currency:'CLP':'symbol':'1.0-0' }}</p>
        </ion-label>
        <div slot="end" class="ion-text-center">
          <div class="quantity-controls" style="display: flex; align-items: center; justify-content: flex-end;">
            <ion-button (click)="disminuirCantidad(item)" fill="clear" size="small">
              <ion-icon name="remove-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label class="quantity-display" style="padding: 0 8px;">{{ item.cantidad }}</ion-label>
            <ion-button (click)="aumentarCantidad(item)" fill="clear" size="small">
              <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <ion-button fill="clear" size="small" color="danger" (click)="eliminarItem(item)">
            Eliminar
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer *ngIf="items.length > 0">
  <ion-toolbar>
    <ion-title>Total: {{ totalCarrito | currency:'CLP':'symbol':'1.0-0' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success">
        Pagar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>