<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button class="btn-nav-menu" expand="block" fill="clear" routerLink="/categorias">Categorias</ion-button>
      <ion-button class="btn-nav-menu" expand="block" fill="clear" routerLink="/carrito">Carrito</ion-button>
      <ion-button class="btn-nav-menu" expand="block" fill="clear" routerLink="/perfil">Perfil</ion-button>
    </ion-content>
    <ion-footer class="ion-padding-bottom">
      <ion-button expand="block" fill="solid" class="ion-margin btn-cerrar-sesion" routerLink="/login" (click)="iniciarCarga()">Cerrar Sesion</ion-button>
    </ion-footer>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chromie Store</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-card *ngFor="let producto of productos">
          <img [src]="producto.imagen_url" />
          <ion-card-header>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ producto.precio | currency:'CLP' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button class="btn-custom-primary" expand="block" (click)="agregarProducto(producto.id)">
              Agregar al Carrito
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-content>
  </div>
</ion-app>
