#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-menu::part(backdrop) {
  background-color: rgba(228, 196, 18, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(233, 195, 26, 0.18);
}

.btn-cerrar-sesion {
  --background: #961d1d; // Un color morado oscuro para el fondo
  --color: #ffffff; // Cambia el color del texto a negro
}

.btn-nav-menu {
  --background: transparent;
  --color: #f0bc13;
}

.img-card{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title-inicio{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}

.text-oferta{
  --color: #f0bc13;
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}

.text-referencia{
  font-size: 16px;
  text-decoration: line-through;
}

.btn-carrito {
  --background: #1d9641; // Un color morado oscuro para el fondo
  --color: #ffffff; // Cambia el color del texto a negro
}